[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = JohnStewart1324
	email = 57651326+JohnStewart1324@users.noreply.github.com
